<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="background-color: #333; color:#eee;">
  <header style="font-size: 40px; text-align: center;"> This is my new Django Project</header>

  {% block content %}

  {% endblock content %}

  <footer style="font-size: 40px; text-align: center;"> All Right Reserved. CopyRight &copy;
    Protected;</footer>
</body>

</html>